node_modules/
.next/
.smoke/
out/
build/
dist/

*.tsbuildinfo
next-env.d.ts

.env
.env*.local

.DS_Thumbs
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vercel
